.boton-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: 0.5s;
}

.validacion-correcta {
    border: green 3px solid;
}

.validacion-incorrecta {
    border: red 3px solid;
}

.mensaje-error {
    color: rgb(255 0 0);
    font-style: italic;
    margin-top: 6px;
}

.mensaje-correcto {
    color: rgb(0, 255, 85);
    font-style: italic;
    margin-top: 6px;
}

@media (min-width:768px) {
    .link-div {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        gap: 5rem;
    }    
}

.link-div {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 5rem;
}

.display-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.color-link {
    color: rgb(93, 185, 207);
    font-weight: bold;
}

.boton-copy {
    border-radius: 1rem;
    background-color: hsl(180deg 75% 36%);
    color: hsl(0deg 0% 99%);
    border: 5px solid;
    width: 8rem;
    height: 4rem;
    cursor: pointer;
}

.parrafo-link {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.8rem;
    color: hsl(0deg 0% 0%);
    word-break: break-all;

}

